@page "/login"
@inject NavigationManager NavManager
@inject HttpClient Client
@inject IConfiguration Configuration

<PageTitle>Welcome! Log in to Leaderboard App</PageTitle>

<MudCard>
    <MudCardContent>
        <h2>Log In</h2>
    </MudCardContent>
    <MudCardActions>
        <MudLink Class="ml-auto" Underline="Underline.Always" Href="@uri">Log In</MudLink>
        @* <MudButton OnClick="DiscordRedirect" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Log In With Discord</MudButton> *@
    </MudCardActions>
</MudCard>


@code {
    private int currentCount = 0;
    private string uri = "";

        protected override void OnInitialized()
        {
            base.OnInitialized();
            uri = $"https://discord.com/api/oauth2/authorize?client_id={Configuration["clientId"]}&{Client.BaseAddress}loginaction&response_type=code&scope=identify%20email";
        }
}
