@page "/"
@using leaderboard.Shared
@using Microsoft.AspNetCore.Authorization
<h1>
            Welcome!
</h1>
<AuthorizeView>
        
        <MudButton Color="Color.Primary" Link="/addentry">Add an entry.</MudButton>
</AuthorizeView>


@code{

}